:root {
  --main-bg-color: #e1e1e1;
  --main-shadow-color: rgba(0, 0, 0, 0.25);
}

html {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;

  height: 100vh;

  padding: 0 32px;

  /* background: url(../img/poster.jpg) no-repeat center;
  background-size: 100%;
  backdrop-filter: blur(50px); */
}

.trailer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
}

main {
  position: relative;
  display: flex;
  z-index: 10;

  max-width: 1270px;

  overflow: hidden;
  margin: 0 auto;

  border-radius: 10px;
  box-shadow: 5px 9px 20px var(--main-shadow-color);
}

.posterSection {
  width: 40%;

  position: relative;
}

.posterSection__img {
  display: block;

  width: 100%;
}

.controlSection {
  width: 60%;
  background-color: var(--main-bg-color);
}
