:root {
  --main-color: #e1e1e1;
  --secondary-color: #9db09a;
  --main-shadow-color: rgba(0, 0, 0, 0.6);

  --main-font-color: #9b9a9a;
  --active-font-color: #3a3a3a;

  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Rubik", sans-serif;
}

html {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;

  height: 100vh;

  padding: 0 32px;
}

.trailer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
}

main {
  position: relative;
  display: flex;
  z-index: 10;

  max-width: 1270px;

  overflow: hidden;
  margin: 0 auto;

  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 5px 9px 20px var(--main-shadow-color);
}

.posterSection {
  width: 40%;

  position: relative;

  border-right: 2px solid var(--secondary-color);
}

.badge {
  position: absolute;
  top: 0;
  z-index: 20;

  margin: 15px;
  padding: 15px;

  text-align: center;
  font-family: var(--secondary-font);
  color: var(--main-color);
  font-weight: bold;

  border: 3px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 18px var(--secondary-color);
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.5);
}

.badge-rating {
  left: 0;
}

.badge-data {
  right: 0;

  border-radius: 5%;
}

.textContent {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;

  width: 100%;
  padding: 40px 40px 20px;
}

.textContent__title {
  margin-bottom: 20px;
  padding-bottom: 15px;

  color: var(--main-color);
  font-size: 35px;
  font-weight: normal;
  font-family: var(--secondary-font);
  border-bottom: 1px solid var(--main-color);
}

.textContent__description {
  margin-bottom: 20px;

  color: var(--main-color);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  font-family: var(--secondary-font);
}

.btn-readMore {
  text-align: center;
  color: var(--main-color);
  font-size: 20px;
}

.posterSection__img {
  display: block;

  width: 100%;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 9) 5%,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.controlSection {
  width: 60%;
  padding: 20px 40px;

  background-color: var(--main-color);
}

.movieType {
  display: flex;
  justify-content: space-around;
}

.movieType__item {
  position: relative;
  list-style-type: none;
}

.movieType__item::after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 100%;
  height: 1.5px;
  background: var(--main-font-color);
  box-shadow: 4px 4px 8px var(--main-font-color);
}

.movieType__item-active::after  {
  height: 3px;
  background: var(--secondary-color);
  box-shadow: 3px 3px 5px var(--secondary-color);
}

.movieType__itemLink{
  text-decoration: none;

  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  font-family: var(--main-font);
  color: var(--main-font-color);
}

.movieType__itemLink-active {
  color: var(--active-font-color);
}
